.App {
  width: 100%;
}
.setting{
  width: 100%;
  height: 100px;
  background-color: black;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}
.setting select,
.setting input{
  margin: 10px;
  outline: none;
  border-width: 0px;
  border-radius: 6px;
  font-size: 16px;
  padding: 4px;
}
.wrapSort,
.wrapYearsForm{
  display: grid;
  justify-items: center;
  margin-bottom: 13px;
}
.wrapSort,
.wrapYearsForm>label{
  color: silver;
  font-size: 12px;
}
.wrapYearsForm>input{
  width: 145px;
}
.OneOfMovie{
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  background-color: silver;
  align-items: center;
  justify-content: center
}
.OneOfMovie::after{
  display: block;
  content: '';
  grid-column: 1/5;
  border-radius: 50%;
  width: 70%;
  height: 1px;
  background: linear-gradient(to right, silver, rgba(0,0,0,0.5), silver);
  justify-self: center;
}
.moviePoster{
  display: grid;
  align-items: center;
  height: 295px;
  width: 200px;
  position: relative;
}

 .preloader{
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 200px;
  height: 295px;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: 1;
  visibility: visible;
  transition: 1s all;
  z-index: 3;
}
.loader{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 6px solid white;
  border-top: 0;
  animation: downloding 1.5s infinite;
} 


@keyframes downloding{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.play-button{
  position: absolute;
  visibility: visible;
  opacity: 0;
  height: 100%;
  width: 200px;
  transition: 0.14s all;
  outline: none;
  border: 0;
}
.play-button::before{
  display: block;
  content: '';
  position: absolute;
  top: 50%; margin-top: -10%;
  left: 50%; margin-left: -5%;
  border: 25px solid transparent;
  border-left: 25px solid red;
  transition: 0.2s all;
}

.moviePosterImg{
  display: grid;
  width: 200px;
  height: 295px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 2px black;
  transition: 0.4s all;
}
.moviePoster:hover .play-button{
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.moviePoster:active .play-button::before{
  border-left-color: white;
}
.moviePoster:active .play-button:hover{
  background-color: rgba(255, 0, 0, 0.6);
}


.moviePosterError{
  display: grid;
  width: 50%;
  justify-self: flex-start;
  margin-left: 35px;
}


.movieTitle{
  display: grid;
  justify-content: center;
  padding: 15px;
}
.movieInfo{
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}
.movieInfo>h4:nth-child(2){
  margin-top: 6px;
  margin-bottom: 20px;
}
.movieInfo>h4:nth-child(2)::after{
  display: block;
  content: '';
  border-radius: 50%;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, silver, rgba(0,0,0,0.5), silver);
  justify-self: center;
  margin-top: 10px;
}
.movieInfo>p{
  margin-bottom: 4px;
  margin-top: 4px;
}


.Similar>button{
  display: block;
  margin: 7px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  border: 1px solid silver;
  font-size: 14px;
}
.Similar>button:hover{
  /* transition: 0.3s all; */
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: inset -1.2px -1.2px 1px rgba(0,0,0,0.6);
}

.pagination{
  width: 100%;
  height: 60px;
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
}
.extra-pagination{
  width: 100%;
  height: 100px;
  background-color: black;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
}
.nextButton{
  border-radius: 0px 0px 10px 0px;
  padding: 5px 18px !important;
}
.prevButton{
  border-radius: 10px 0px 0px 0px;
  padding: 5px 18px !important;
}
.pageLink{
  color: white;
  text-decoration: none;
  justify-self: center;
  padding: 5px 10px;
  border: 1px solid white;
  cursor: default;
}
.currentPageActive{
  color: black;
  background-color: white !important;
  text-decoration: none;
  justify-self: center;
  padding: 5px 10px;
  border: 1px solid white;
}
.pageLink:hover{
  background-color: rgba(192,192,192, 0.45);
  transition: 0.12s;
}
.listOfPage{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}
.lopExtra{
  overflow-x: scroll;
  justify-content: flex-start;
}
.pageLink:active{
  background-color: silver;
  color: black;
}
.personalSign{
  background: black;
  color: silver;
  display: grid;
  align-items: center;
  justify-content: center;
}
.personalSign>p{
  font-size: 14px;
  margin: 4px;

}
.wrap-logo{
  display: grid;
  justify-content: center;
  align-items: center;
}
.wrap-logo>img{
  height: 250px;
}


.scroll{
  display: grid;
  justify-content: center;
  align-items: center;
  background: black;
  color: silver;
  font-size: 10px;
}


.modal-window-for-trailer{
  width: 960px; 
  height: 540px; 
  position: fixed;
  top: 50%; 
  left: 50%; 
  margin-top: -270px;
  margin-left: -480px;
  display: none;
  opacity: 0; 
  z-index: 9999;
}
.overlay{
  z-index: 9998; 
  position: fixed;
  opacity: 1; 
  width: 100%; 
  height: 100%;
  top: 0; 
  left: 0;
  cursor: pointer;
  display: none;
  background-color: rgba(0,0,0,0.55);
}

.closeButton{
  position: fixed;
  top: 15%;
  right: 13%;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  border: 0px;
  outline: none;
  background-color: rgba(0,0,0,0);
  color: white;
  transition: 0.1s all;
}
.closeButton:hover{
  background-color: rgba(255, 0, 0, 0.6);
  color: black;
}
.trailerNotFound{
  color: white;
  position: fixed;
  top: 45%;
  left: 40%;
  cursor: default;
}
.search_button{
  padding: 3px 15px;
  border: 1px solid white;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  background: white;
}
.search_button:hover{
  transition: 0.15s all;
  background: rgba(255, 255, 255, 0.8);
}
.search_button:active{
  transition: 0.1s all;
  color: greenyellow;
}

.noResultBySearch{
  display: grid;
  height: 70vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
}
.noResultBySearch>img{
  height: 350px;
}
.wrap-for-content{
  display: grid;
  min-height: 88vh;
  grid-template-rows: 1fr 60px;
}




@media (max-width: 500px){

  .setting{
    height: 320px;
    grid-auto-flow: row;
  }
  .OneOfMovie{
    height: 855px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2fr 0.5fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 10px; 
  }
  .OneOfMovie::after{
    width: 95%;
    margin-bottom: 10px;
  }
  .OneOfMovie:last-child::after{
    display: none;
  }
  .moviePoster{
    height: 390px;
    width: 251px;
    margin: auto;
  }
  .moviePosterImg{
    height: 375px;
    width: 251px;
  }
  .moviePosterError{
    width: 60%;
    justify-self: center;
    margin: 0;
  }
  .play-button{
    width: 250px;
  }
  .preloader{
    top: 7px;
    width: 250px;
    height: 375px;
  }
  .movieTitle{
    grid-row: 2/3;
    text-align: center;
  }
  .movieTitle>h2{
    font-size: 32px;
  }
  .movieInfo{
    grid-row: 3/4;
  }
  .Similar{
    grid-row: 4/5;
    text-align: center;
  }
  .Similar>h3{
    font-size: 22px;
  }
  .Similar>button{
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .Similar>button:active{
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: inset -1.2px -1.2px 1px rgba(0,0,0,0.6);
  }
  .search_button{
    margin-bottom: 12px;
  }

  .noResultBySearch{
    height: 60vh;
  }
  .noResultBySearch>img{
    height: 300px;
  }
  .modal-window-for-trailer{
    width: 400px;
    height: 700px;
    margin-top: -175px;
    margin-left: -175px;
  }
  #ytplayer{
    width: 350px;
    height: 350px;
  }
  .personalSign>p{
    font-size: 10px;
  }
  .wrap-for-content{
    min-height: 57vh;
    grid-template-rows: 1fr 75px;
  }
  .pageLink{
    padding: 6px 12px;
  }
}

@media(min-width: 1600px){
  .wrap-for-content{
    min-height: 90vh;
  }
}